{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/produk/' %}active{% endif %}" href="{% url 'list_produk' %}">
                <i class="bi bi-box-seam menu-icon"></i>
                <span class="menu-title">Produk</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/kategori/' %}active{% endif %}" href="{% url 'list_kategori' %}">
                <i class="bi bi-tags menu-icon"></i>
                <span class="menu-title">Kategori Produk</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/akun/' %}active{% endif %}" href="{% url 'list_akun' %}">
                <i class="bi bi-people menu-icon"></i>
                <span class="menu-title">Akun</span>
            </a>
        </li>
    </ul>
</nav>
