{% extends "layouts/main2.html" %}

{% block title %}AD - Produk{% endblock %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produk</h4>
                    <div style="float: right">
                        <a href="{% url 'create_produk' %}" class="btn btn-success btn-sm">
                            Tambah Data
                        </a>
                    </div>
                    <div class="pt-3 table-responsive">
                        <table class="table table-bordered" id="data-table">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-center" width="50">#</th>
                                    <th>Nama Part</th>
                                    <th>Kategori</th>
                                    <th>Harga Barang</th>
                                    <th class="text-center" width="100">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produk in produk_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ produk.nama }}</td>
                                    <td>{{ produk.kategori }}</td>
                                    <td>Rp {{ produk.harga|intcomma }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'update_produk' produk.id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'delete_produk' produk.id %}" class="btn btn-danger btn-delete">Delete</a>
                                        <a href="{% url 'tampilkan_gambar_produk' produk.no_produk %}" class="btn btn-success">Gambar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#data-table').DataTable();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    console.log("SweetAlert dimuat!");
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.btn-delete');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();  
                const url = this.href;

                Swal.fire({
                    title: 'Apakah Anda yakin?',
                    text: "Data yang dihapus tidak dapat dikembalikan!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Ya, hapus!',
                    cancelButtonText: 'Batal'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>

{% endblock %}